.ball {
  &__cell {
    width: 10px;
    height: 10px;

    &--wall {
      background-color: black;
    };
  };

  &__ball {
    align-content: center;
    vertical-align: middle;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    background-color: lightgray;
  };
}