.city {
  &__header {
    display: flex;
    justify-content: flex-start;
  }

  &__cell {
    width: 10px;
    height: 10px;
    background: #fff;
    border: 1px solid #999;
    
    &--empty {
      // background-color: white;
    };    

    &--border {
      background-color: black;
      border: 1px solid black;
    };
  };
}