.clicker {
  padding: 10px;

  &__shop {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-wrap: wrap;
    // height: 500px;
    // width: 750px;
    padding: 30px 0 20px 0;
  }

  &__button {
    flex-grow: 1;
    // width:33%;
    border: 2px solid rgb(0, 0, 0);
    text-align: center;
    margin-right: -2px;
    margin-top: -2px;
    
    &:hover {
        cursor: pointer;
    }

    &--nope {
      background: rgb(255, 0, 0)
    }
    &--yes {
      background: rgb(0, 255, 0)
    }
  }

  &__title {
    font-size: 1.75rem;
  }
  
  &__rechts {
    text-align: right;
    font-size: 12px;
    font-weight:bold;
    vertical-align:text-bottom;
  }
}