.hangman {
    &__circle {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        font-size: 20px;
        font-weight: bolder;
        padding-left: 15px;
        padding-top: 5px;
        margin: 2px;
    }

    &__circle:hover {
        cursor: pointer;
    }

    &--none {
        background-color: lightgray;
    }

    &--wrong {
        background-color: #e85858;
    }

    &--right {
        background-color: #5ca55c;
    }

    &__letters {
        padding: 40px 0 0 0;
        display: flex;
        flex-wrap: wrap;
    }

    &__word {
        font-size: 40px;
        letter-spacing: 20px;
        font-weight: bolder;
    }

    &__gameOver {
        font-size: 40px;

        &--won {
            color: green;
        }

        &--lost {
            color: red;
        }
    }
}