.horse {
  &__msg {
    font-size: 20px;

    &--won {
      color: green;
    }
    &--lost {
      color: red;
    }
  }

  &__board {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    height: 500px;
    width: 500px;
    padding: 30px 0 20px 0;
  }

  &__square {
    height: 10%;
    width: 10%;
    background: #fff;
    border: 1px solid #999;
    vertical-align: middle;
    font-size: 16px;
    font-weight: normal;
    line-height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;

    &:hover{
      cursor: not-allowed;
    }

    &--missing {
      border: 2px solid red;
      background-color: rgba(222, 22, 22, 0.15);
      border-radius: 7px;
    }

    &--allowed {
      background-color: rgba(22, 222, 22, 0.15);

      &:hover {
        cursor: pointer;
      }
    }

    &--last {
      font-weight: bold;
      font-size: 20px;
    }
  }
}