.sq15 {
  &__board {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    height: 500px;
    width: 500px;
    padding: 30px 0 20px 0;
  }

  &__square {
    height: 25%;
    width: 25%;
    background: #fff;
    border: 1px solid #999;
    vertical-align: middle;
    font-size: 40px;
    font-weight: normal;
    line-height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;

    &--empty {
      color: #ddd;
      background: #ddd;
    }

    &:focus {
      outline: none;
    }
  }

  &__won {
    font-size: 20px;
    color: green;
  }
}