.ttt {
  &__square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 34px;
    font-weight: bold;
    line-height: 34px;
    height: 44px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 44px;
  }

  &__square:focus {
    outline: none;
  }

  &__board-row:after {
    clear: both;
    content: "";
    display: table;
  }

  &__status {
    padding: 30px 0 20px 0;
    font-size: 20px;
    font-weight: bold;
  }

  &--won {
    color: green;
  }
}